    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #e5ffd3; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #c5ff9e; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #88de4f; 
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background: #F9F9F8;
      overflow-x: hidden;
    }

    section{
      height: 100vh;
      width: 100vw;
    }

    .first{
      height: calc(100vh - 50px);
      width: 100vw;
    }

    .logo {
      height: 50px;
    }

    .logo span {
      color: #428615;
    }

    nav{
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .nav-item{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0px !important;
      padding: 10px;
    }

    .nav-link:hover{
      color: #F9F9F8 !important;
      font-weight: 500;
      background-color: #1e3a5f;
    }

    .navbar-collapse{
      height: stretch
    }

    .navbar-collapse ul{
      display: flex;
      justify-content: center;
      height: 100%;
    }

    .navbar-collapse a{
      margin: 0px !important;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .navbar-collapse ul li{
      width: 100%;
      min-width: 200px;
      display: flex;
      justify-content: center;
      height: 100%;
      padding: 0px;
    }

    nav a {

      display: flex;
      align-items: center;
      width: min-content;
      padding-left: 15px;
      padding-right: 15px;

      margin: 0;
      text-decoration: none;
      color: #1e3a5f;
      font-weight: 500;
      height: 100%;

    }

    img{
        margin: 15px;
        height: 100px;
    }

    header{
        height: 100px;
    }

    .btn-whatsapp {
      background: #428615;
      color: #F9F9F8;
      padding: 10px 18px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: 600;
    }

    .btn-whatsapp:hover {
      background: #428615;
      color: #F9F9F8;
      padding: 10px 18px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: 600;
    }

    .buttons {
      margin-top: 20px;
    }

    .btn {
      padding: 12px 22px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      margin-right: 10px;
    }

    .btn:hover{
      color: #F9F9F8;
      background: #428615;
    }

    .btn-primario {
      background: #428615;
      color: #F9F9F8;
      border:#428615;
    }

    .btn-primario:hover {
      background: #428615;
      color: #F9F9F8;
      border:#428615;
    }

    .btn-invertido {
      border: 2px solid #428615;
      color: #428615;
    }

    .banner{
        width: 100vw;
        background-image: url(/img/background2.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 8%;
    }

    .banner-text{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 40%;
    }

    .banner-text .titleAzul{
        font-size: 50px;
        font-weight: bold;
        color: #052755;
    }

    .banner-text .titleVerde{
        font-size: 50px;
        font-weight: bold;
        color: #428615;
    }

    .banner-text p{
      margin: 0px;
    }

    /* BENEFITS */
    .benefits {
      background: white;
      margin: -40px auto;
      width: 85%;
      border-radius: 15px;
      display: flex;
      justify-content: space-around;
      padding: 25px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    .benefit {
      text-align: center;
      max-width: 200px;
    }

    .benefit h3 {
      color: #0e2a47;
      margin-bottom: 5px;
    }

    .benefit p {
      font-size: 14px;
      color: #666;
    }

    /* FOOTER CTA */
    .footer {
      /* height: 100px; */
      background: linear-gradient(270deg, #0e2a47 50%, #428615 100%);
      color: white;
      padding: 60px 8%;
      /* margin-top: 60px; */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer h2 {
      font-size: 28px;
    }